:root{
    --h1-font:5rem;
    --h2-font:2.9rem;
    --p-font:1.1rem;
    --bg-color:#121b25;
    --text-color:white;
    --main-color:#1aa090;
    --other-color:#d6d6d6;  
}
*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-family: 'Inter', sans-serif;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    right:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: all 0.5s ease;
    padding: 30px 5%;
}
.logo img{
    width:100%;
    height:auto;
}
.nav-bar{
    display: flex;
    
}
.nav-bar a{
    padding: 30px 25px;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    transition: all .4s ease;
}
.nav-bar a:hover{
    color:var(--text-color);
}
.header-btn{
    display: flex;
    align-items: center;
}
.header-btn2{
    display: inline-block;
    padding: 10px 18px;
    background: var(--main-color);
    color: var(--text-color);
    font-weight: 500;
    margin-left:20px;
    transition: all .4s ease;
}
.header-btn1{
    color:var(--other-color);
    font-weight: 500;
    font-size: 18px;
}
.header-btn2:hover{
    transform: translateY(7px);
}
#menu-icon{
    color:var(--text-color);
    font-size: 36rem;
    margin-left: 5px;
    z-index: 1001;
    cursor: pointer;
    display:none;
}
section{
    padding: 80px 15% 70px;
}
.home{
    position: relative;
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.5rem;
    justify-content: space-between;
}
.home-text{
    font-size:var(--h1-font);
    line-height:1.2;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.home-text p{
    font-size: var(--p-font);
    line-height: 30px;
    color:var(--other-color);
    margin-bottom:2.5rem;  
    
}
.h-search form{
    position: absolute;
    width:410px;
    max-width:100%;
}
.h-search form input:first-child{
    display: inline-block;   
    width:100%;
    padding: 17px 130px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: .70rem;
}
.h-search form input:last-child{
    position: absolute;   
    display: inline-block;
    padding: 12px 30px;
    background: var(--main-color);
    color:var(--text-color);
    font-size: 14px;
    cursor: pointer;
    border-radius: 0.70rem;
    box-shadow: 0px 0px 5px white, 0px 0px 15px #868686;
    top: 50px;
    right: 6px;
}
.hero-img{
    width: 640px;
    height: 640px;
    animation: box-thing 4s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    transition: ease;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@keyframes box-thing {
    0%{
        transform: translateY(0px);  
    }
    50%{
        transform: translateY(-200px);  
    }
    50%{
        transform: translateX(200px);  
    }
    
    100% {
        transform: translateY(0);
    }
}
header.sticky{
    padding:8px 15%;
    background: #101821;
}
.feature{
    padding: 60px 15% 50px;
}
.center-left{
    font-size: var(--h2-font); 
}
.feature-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
}
.f-img img{
    width:100%;
    height: auto;
}
.property-content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
}
.row{
    position: relative;
    cursor:pointer;
}
.row img{
    width:100%;
    height:auto;
    margin-bottom: 20px;
}
.row h5{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}
.row p{
    font-size: var(--p-font);
    color: var(--other-color);
    margin-bottom: 20px;
}
.list{
    display: flex;
    align-items: center;
    gap:2rem;
}
.list a{
    font-size: var(--p-font);
    color: var(--text-color);
}
.Residence-list{
    font-size:18px;
    color:var(--main-color);
}
.center-btn{
    text-align: center;
    margin-top:4rem;
}
.btn{
    display: inline-block;
    color: var(--text-color);
    background-color: var(--main-color);
    padding: 18px 28px;
    font-size: 17;
    font-weight: 500;
    transition: all .5s ease;
}
.btn:hover{
    transform: translateY(-7px) scale(0.9);
}
.about{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}
.about-img img{
    height: auto;
    width:100%;
}
.about-text h2{
    font-size: var(--h2-font);
    margin-bottom: 25px;
}
.about-text p{
    font-size: var(--p-font);
    color: var(--other-color);
    margin-bottom: 50px;
}
.subscribe-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/ss.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 6rem 2rem;
}
.subscribe-content h2{
   font-size: var(--h2-font); 
   margin-bottom: 12px;
}
.subscribe-content p{
    font-size: var(--p-font);
    margin-bottom: 30px;
    line-height: 27px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 2rem;
}
.contact-content h4{
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.contact-content li{
    margin-bottom: 16px;
}
.contact-content li a{
    display: block;
    color: var(--other-color);
    font-size: 15px;
    font-weight: 400;
    transition: all .45s ease;
}
.contact-content li a:hover{
    transform: translate(-5px, -3px);
    color: var(--text-color);
}
.contact-content p{
    color: var(--other-color);
    font-size: var(--other-color);
    line-height: 30px;
    margin: 20px 0;
}
.icons a{
    display: inline;
    font-size: 22px ;
    color: var(--other-color);
    margin-right: 17px;
    transition: all .45s ease;
}
.icons a:hover{
    transform: translateY(-3px);
    color: var(--text-color);
}